
.box
{
    width: 25vw;
    height: 50vh;
    text-align: center;
    border-radius: 2%;
    box-shadow: 1px 1px 5px 5px lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
}

.logo_img
{
    width: 15vw;
    height: 15vh;
}

.field
{
    width: 80%;
    height: 5%;
    padding: 2%;
    font-size: 1.1em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    color: black;
}

.sign_in_btn
{
    height: 10%;
    width: 50%;
    border: none;
    padding: 2%;
    font-size: 1.1em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    background: white;
    text-decoration: none;
}

html, body
{
    margin: 0;
    padding: 0;
}

.main
{
    display: none;
    width: 100vw;
    flex-direction:row;
    justify-content: space-around;
    height: 100vh;
}

.chat_list
{
    max-height: 100vh;
    display:flex;
    flex-direction:column;
    width: 30vw;
    height: 100vh;
    background: lightgray;
}


.div_right
{
    width: 70vw;
    max-height: 100vh;
    display:flex;
    height: 100vh;
    flex-direction:column;
}

.chat_message
{
    padding: 4%;
    color: black;
    font-size: 4em;
}

.settings
{
    height: 100vh;
    background-color: lightgray;
}

.messages
{
    max-height: 100vh;
    display: none;
    height: 100vh;
}

.settings
{
    padding: 15%;
    text-align: center;
    display: block;
}

.profile_image
{
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
}

.btn
{
    height: 10%;
    width: 25%;
    border: none;
    padding: 2%;
    font-size: 1.1em;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    background: white;
    text-decoration: none;
}

.selector
{
    width: 84%;
    height: 7%;
    border: none;
    background: white;
}

.contact_img
{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

.contact_div
{
    padding: 1vw;
    border-top: 1px solid gray;
}

.contact_name_last_span
{
    width: 22vw;
    display: inline-block;
    margin-left: 1vw;
}

.contact_image_span
{
    display: inline-block;
}

.contact_name_div
{
    font-size: 1.5em;
}

.contact_name_last_span > p
{
    margin: 0;
    padding: 0;
}

.message_header
{
    height: 7vh;
    max-height: 7vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: lightgray;
}

.message_header_image
{
    height: 6vh;
    width: 6vh;
    display: inline-block;
    border-radius: 50%;
}

.message_footer
{
    height: 6vh;
    max-height: 6vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: lightgray;
}

.messages_footer_attachments
{
    height: 4vh;
    width: 4vh;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.messages_message
{
    height: 83vh;
    max-height: 83vh;
    background-color: white;
    overflow: scroll;
}

.message_footer_btn
{
    border: none;
    background-color: white;
    font-size: 1.5em;
    width: 6vw;
    border-radius: 10%;
    padding: 1%;
}

.settings_icon
{
    width: 4vh;
    height: 4vh;
}

.message_header_name
{
    display: inline-block;
    font-size: 2em;
    margin-left: 1em;
}

.receiver_span
{
    background: #5ca1f5;
    margin-left: 20vw;
}

.sender_span
{
    background: #bebebe;
    margin-right: 20vw;
}

.receiver_span, .sender_span
{
    border-radius: 5%;
    white-space: unset;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;
    display: inline-block;
    margin: 1%;
}

.receiver_div
{
    text-align: right;
}

.message_image
{
    width: 5vw;
    height: 5vw;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 3vw;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#map 
{
    height: 50vh;  /* The height is 400 pixels */
    width: 60vw;  /* The width is the width of the web page */
    margin-left: auto;
    margin-right: auto;
}